:root {
    --bg:  #F9F8F7;
    --bg_header:  #F9F8F7;
    --bg_default:  white;
    --h_color:#0F1826;
    --text_color:#607987;
    --bg_surov: #F9F8F7;
    --yunalish_text:#607987;
    --bg_icon :#fdfdfd;
    --col_icon :#555555;
    --col_icon_hover :#000000;
    --col_icon_active :white;
    --bg_icon_active :#BD8F5B;
} 

.dark{
    --bg: #0F1826;
    --bg_header:  #09111B;
    --bg_default:  #021923;
    --h_color:white;
    --text_color: white;
    --bg_surov: #F9F8F73B;
    --yunalish_text:#BBE7FF;
    --col_icon:white;
    --col_icon_hover :white;
    --bg_icon :#272727;
}
