@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Thin.ttf');
}

*{
    font-family: 'Lato';
}