* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 92%;
  }
}

@font-face {
  font-family: "Lato";
  src: url("Lato/Lato-Regular.ttf");
}
* {
  font-family: "Lato";
}

.nav {
  padding: 20px 0px;
  background: var(--bg);
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav #check,
.nav .open,
.nav .close {
  display: none;
}
.nav_left a {
  color: var(--h_color);
  font-size: 21px;
  display: flex;
  align-items: center;
}
.nav_left a img {
  width: 70px;
  padding: 0px 4px;
}
.nav_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_right_list {
  display: flex;
  gap: 20px;
}
.nav_right_list li a {
  color: var(--h_color);
  font-size: 18px;
}
.nav_right_list li a:hover {
  border-bottom: 1.5px solid var(--h_color);
}
.nav_right .btn {
  padding: 10px 40px;
  background: white;
  border-radius: 30px;
  border: 1.2px solid transparent;
  font-size: 16px;
  transition: 0.5s;
}
.nav_right .btn:hover {
  border-color: #BD8F5B;
}
.nav_right #icon {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 50%;
  background: var(--bg_icon);
  color: var(--col_icon);
}
.nav_right #icon:hover {
  color: var(--col_icon_hover);
}
.nav_right #icon:active {
  color: var(--col_icon_active);
  background: var(--bg_icon_active);
}
@media (max-width: 640px) {
  .nav_right .close {
    display: block;
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 10px;
    font-size: 24px;
    color: var(--h_color);
  }
  .nav_right .open {
    display: block;
    font-size: 22px;
    color: var(--h_color);
  }
  .nav_right #icon {
    position: fixed;
    top: 100px;
    left: 10px;
  }
  .nav_right #check:checked ~ .nav_right_list {
    right: 0;
  }
  .nav_right_list {
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.8s;
    width: 40%;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg_default);
    z-index: 1;
  }
}
@media (max-width: 450px) {
  .nav_left a {
    font-size: 18px;
  }
  .nav_left a img {
    width: 60px;
  }
  .nav_right .btn {
    font-size: 14px;
    padding: 6px 20px;
  }
  .nav .open {
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  .nav_left a {
    font-size: 16px;
  }
  .nav_left a img {
    width: 50px;
  }
  .nav_right .btn {
    font-size: 14px;
    padding: 6px 20px;
  }
  .nav .open {
    font-size: 17px;
  }
}

:root {
  --bg: #f3f3f3;
  --bg_header: #f0f0f0;
  --bg_default: white;
  --h_color:#0F1826;
  --text_color:#607987;
  --bg_surov: #F9F8F7;
  --yunalish_text:#607987;
  --bg_icon:#fdfdfd;
  --col_icon:#555555;
  --col_icon_hover:#000000;
  --col_icon_active:white;
  --bg_icon_active:#BD8F5B;
  --drop_color:#8f714f1a;
}

.dark {
  --bg: #0F1826;
  --bg_header: #09111B;
  --bg_default: #021923;
  --h_color:white;
  --text_color: white;
  --bg_surov: #F9F8F73B;
  --yunalish_text:#BBE7FF;
  --col_icon:white;
  --col_icon_hover:white;
  --bg_icon:#272727;
  --drop_color:#13E0B2E5;
}

body {
  background: var(--bg_default);
}

.flex {
  display: flex;
  gap: 40px;
}
.flex .box {
  background: #F9F8F7;
  width: 50%;
  padding: 15px;
}
.flex .box .f {
  display: flex;
  align-items: center;
  gap: 25px;
}
.flex .box .f .colo {
  color: #BA8D5B;
}
.flex .box .fl2 {
  display: flex;
  gap: 30px;
}

@media (max-width: 1015px) {
  .flex .box .f {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .flex .box .fl2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 950px) {
  .flex {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  .flex .box {
    width: 100%;
  }
  .flex .box .f {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .flex .box .fl2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 950px) {
  .flex {
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: auto;
  }
  .flex .box {
    width: 96%;
  }
  .flex .box .f {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .flex .box .fl2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 950px) {
  .flex {
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: auto;
  }
  .flex .box {
    width: 96%;
  }
  .flex .box .f {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .flex .box .f .d {
    display: none;
  }
  .flex .box .fl2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.logo {
  color: var(--h_color);
  font-size: 21px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
  padding: 0px 4px;
}
@media (max-width: 450px) {
  .logo {
    font-size: 18px;
  }
  .logo img {
    width: 60px;
  }
}
@media (max-width: 350px) {
  .logo {
    font-size: 16px;
  }
  .logo img {
    width: 50px;
  }
}

.footer {
  background: var(--bg);
  padding: 30px 0px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .text {
  font-weight: 600;
  font-size: 14px;
  color: var(--text_color);
}
.footer .text span {
  font-weight: 700;
  font-size: 16px;
  display: block;
  padding: 4px 0px;
}
.footer_left {
  width: 25.8%;
}
.footer_left .info {
  font-size: 14px;
  font-weight: 600;
  color: var(--text_color);
  padding: 20px 0px 50px;
}
.footer_right {
  width: 70%;
}
.footer_right .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer_right .top .info h4 {
  font-size: 16px;
  color: var(--h_color);
  padding: 10px 0px 30px;
  font-weight: 700;
}
.footer_right .top .info ul li {
  padding: 6px 0px;
  color: var(--text_color);
  font-weight: 600;
  font-size: 14px;
}
.footer_right .top .info ul li a:hover {
  border-bottom: 1.5px solid var(--text_color);
}
.footer_right .bottom {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  border-top: 1.5px solid gray;
}
.footer_right .bottom .addres {
  width: 250px;
}
.footer_right .bottom .addres h4 {
  color: var(--h_color);
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 20px;
}
.footer_right .bottom .addres p {
  font-size: 14px;
  color: var(--yunalish_text);
  font-weight: 600;
}
.footer_right .bottom .addres .text {
  display: none;
}
.footer_right .bottom .tar {
  display: flex;
  gap: 20px;
}
.footer_right .bottom .ij_tarmoq h4 {
  font-size: 16px;
  color: var(--h_color);
  font-weight: 700;
  padding-bottom: 20px;
}
.footer_right .bottom .ij_tarmoq .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_right .bottom .ij_tarmoq .icons .icon {
  font-size: 30px;
  color: #BA8D5B;
}
.footer_right .bottom .ij_tarmoq .icons .icon1 {
  font-size: 16px;
  background: #BA8D5B;
  border-radius: 50%;
  padding: 6px 9px;
  color: white;
}
.footer_right .bottom .ij_tarmoq .icons .youtub {
  font-size: 16px;
  background: #BA8D5B;
  border-radius: 50%;
  padding: 6px;
  color: white;
}
.footer_right .bottom .ij_tarmoq .icons .tg:hover {
  color: rgb(0, 157, 255);
}
.footer_right .bottom .ij_tarmoq .icons .fc:hover {
  color: rgb(0, 51, 255);
}
.footer_right .bottom .ij_tarmoq .icons .youtub:hover {
  background: rgb(255, 0, 38);
}
.footer_right .bottom .ij_tarmoq .icons .insta:hover {
  background: rgb(255, 0, 221);
}
.footer_right .bottom .ij_tarmoq .icons .in:hover {
  background: blue;
}
.footer_right .bottom .tel h4 {
  font-size: 16px;
  color: var(--h_color);
  font-weight: 700;
  padding: 0px 0px 20px;
}
.footer_right .bottom .tel a {
  font-weight: 500;
  font-size: 18px;
  color: var(--text_color);
}
@media (max-width: 970px) {
  .footer_right .bottom {
    flex-direction: column;
    row-gap: 20px;
    border: none;
  }
  .footer_right .bottom .addres {
    order: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer_right .bottom .addres p, .footer_right .bottom .addres h4 {
    width: 40%;
  }
  .footer_right .bottom .tar {
    gap: 0;
    justify-content: space-between;
    border-bottom: 1.5px solid gray;
    padding-bottom: 20px;
  }
  .footer_right .bottom .ij_tarmoq {
    align-items: center;
    gap: 10px;
    display: flex;
  }
}
@media (max-width: 800px) {
  .footer .container {
    flex-direction: column;
  }
  .footer_left {
    width: 80%;
  }
  .footer_left .text {
    display: none;
  }
  .footer_right {
    width: 100%;
  }
  .footer_right .top {
    padding: 0;
  }
  .footer_right .bottom .addres {
    row-gap: 10px;
    flex-wrap: wrap;
  }
  .footer_right .bottom .addres .text {
    display: block;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .footer_right .bottom .tar .tel {
    display: flex;
  }
}
@media (max-width: 620px) {
  .footer_left {
    width: 100%;
  }
  .footer_right .bottom .tar .tel {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .footer_right .top {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .footer_right .top .info h4 {
    padding: 0px 0px 10px;
  }
  .footer_right .bottom .addres {
    gap: 30px;
  }
  .footer_right .bottom .addres h4 {
    width: 45%;
  }
  .footer_right .bottom .addres p {
    width: 45%;
  }
  .footer_right .bottom .tar {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .footer_right .bottom .tar .ij_tarmoq {
    flex-direction: column;
    align-items: start;
  }
  .footer_right .bottom .tar .ij_tarmoq h4 {
    padding: 0;
  }
  .footer_right .bottom .tar .tel h4 {
    padding: 0px 0px 10px;
  }
}
@media (max-width: 400px) {
  .footer_right .bottom .addres {
    row-gap: 10px;
  }
  .footer_right .bottom .addres h4 {
    width: 100%;
  }
  .footer_right .bottom .addres p {
    width: 100%;
  }
  .footer_right .bottom .addres .text {
    flex-direction: column;
    align-items: start;
  }
}/*# sourceMappingURL=kurslar.css.map */